{# {% extends 'amarcio/index.html.twig' %} #}

{% block body %}

  <div class="formularios gracias">
    <p><strong>Uups! Sección no encontrada.</strong></p>
    <p>Lo sentimos pero donde Ud. intenta acceder no existe.</p>
  </div>

{% endblock %}

{% block stylesheets %}{% endblock %}
