{% extends 'amarcio/index.html.twig' %}

{% block body %}
  <div class="">
    
    <section class="content">
      <div class="error-page">
        <div class="error-content">
          <h3><i class="fa fa-warning text-yellow"></i> Uups! Se ha producido un error.</h3>
          <p>
            Lo sentimos pero se ha producido un error.
          </p>
          <p>
            Por favor pongase en contacto con el departamento técnico.
          </p>
        </div>
        <!-- /.error-content -->
      </div>
      <!-- /.error-page -->
    </section>
    <!-- /.content -->
  </div>
{% endblock %}

{% block stylesheets %}{% endblock %}