{% extends 'base.html.twig' %}

{% block body %}

<div class="formularios error">
  <div class="logo">
    <a href="{{ path('homepage') }}" title=""><img src="{{ asset('images/fundacionandresmarcio--logo.jpg') }}" alt=""></a>
  </div>
  <p class="multicolore"><strong>Uups! Sección no encontrada.</strong></p>
  <p>Lo sentimos pero donde Ud. intenta acceder no existe.</p>
</div>

{% endblock %}

{% block stylesheets %}{% endblock %}
