<div class="remodal" data-remodal-id="modal">
  <button data-remodal-action="close" class="remodal-close"></button>
	<div>Política de privacidad</div>
	<p>En cumplimiento de la normativa vigente en materia de Protección de Datos de Carácter Personal, esto es, el Reglamento (UE) 2016/679 General de Protección de Datos, es necesario que lea y comprenda la Política de Protección de datos y Privacidad de la FUNDACIÓN ANDRÉS MARCIO, NIÑOS CONTRA LA LAMINOPATÍA (en adelante la “FUNDACIÓN”). </p>
	<p>Para que la FUNDACIÓN pueda tratar sus datos se requiere que acepte las políticas mencionadas de manera libre, específica, informada e inequívoca.</p>

  <div>
    <div class="tab">
      <input id="tab-one" type="checkbox" name="tabs1">
      <label for="tab-one">1.¿Quién es el responsable del tratamiento de sus datos?</label>
      <div class="tab-content">
        <p>El responsable del tratamiento de sus datos es la FUNDACIÓN ANDRÉS MARCIO, NIÑOS CONTRA LA LAMINOPATÍA, con domicilio en la Calle Núñez de Balboa nº 11, 2ºC, 28001, Madrid, y NIF número  G-86830452.</p>
        <p>El objeto de la FUNDACIÓN es la investigación científica de la enfermedad denominada laminopatía, facilitar información a los enfermos y a sus familias, así como para la promoción y el seguimiento de programas de investigación de esta patología y su divulgación a la sociedad.</p>
      </div>
    </div>
    <div class="tab">
      <input id="tab-two" type="checkbox" name="tabs2">
      <label for="tab-two">2.¿Qué son los datos personales? ¿Qué datos tratamos?</label>
      <div class="tab-content">
        <p>Los datos personales son toda aquella información sobre una persona física identificada o identificable. Por ejemplo, nombre, apellidos, DNI, teléfono o email.</p>
        <p>La FUNDACIÓN le pedirá datos personales cuando rellene formularios de donación, colaboración, participación en concursos  u otros formularios de registro e inscripción. </p>
      </div>
    </div>
    <div class="tab">
      <input id="tab-three" type="checkbox" name="tabs3">
      <label for="tab-three">3.¿Cuáles son los fines y la base jurídica del tratamiento?</label>
      <div class="tab-content">
        <p>Los datos personales recogidos podrán ser informatizados, tratados y comunicados a terceros con las siguientes finalidades:</p>
        <ul>
          <li>Atender sus peticiones, tales como: colaboración, participación en concursos y eventos de la FUNDACIÓN, sirviendo esta enumeración a modo ejemplificativo y no limitativo.</li>
          <li>Gestionar su donativo, emitir y hacerle llegar el Certificado de donación anual y dar cumplimento ante la Administración Tributaria de la obligación de declarar los donativos recibidos e identificar a los donantes.</li>
          <li>Mantenerle informado por diferentes canales de comunicación sobre cuestiones relativas a la actividad de la FUNDACIÓN.</li>
          <li>Ofrecerle una correcta atención en nuestras comunicaciones con usted.</li>
        </ul>
        <p>La base jurídica sobre la que se desarrolla el tratamiento de los datos de carácter personal relativos a los fines descritos se basa en el consentimiento del interesado. La retirada de éste supone el cese de tratamiento para los fines descritos.</p>
      </div>
    </div>
    <div class="tab">
      <input id="tab-four" type="checkbox" name="tabs4">
      <label for="tab-four">4.¿Cómo tratamos sus datos?</label>
      <div class="tab-content">
        <p>Sus datos de carácter personal podrán ser cedidos, por parte de la FUNDACIÓN, a las personas jurídicas que colaboren con ésta para las finalidades antes indicadas, sin necesidad de que le sea comunicada cada cesión que se efectúe al efecto. </p>
        <p>En particular, podrá realizarse la cesión de sus datos, siempre y cuando dicha comunicación se lleve a cabo para dar cumplimiento al objeto antes indicado a: (I) La mercantil Vimarsa Gestión de Viviendas, S.L., (II) empresas en las que Vimarsa Gestión de Viviendas, S.L., participa. </p>
        <p>La comunicación de los datos personales es un requisito necesario para dar cumplimiento a los fines indicados, sin la cual no sería posible dar cumplimiento a aquéllos. </p>
        <p>El tratamiento de los datos personales no está sujeto a decisiones automatizadas.</p>
        <p>La totalidad de los datos facilitados se encuentran bajo supervisión y control de la FUNDACIÓN para proteger la confidencialidad e integridad de la información,  y la recogida y tratamiento de los datos se efectúan bajo niveles de seguridad que impiden, dentro de las limitaciones que la Técnica impone, la manipulación o pérdida de los mismos de acuerdo a la legislación vigente.</p>
      </div>
    </div>
    <div class="tab">
      <input id="tab-five" type="checkbox" name="tabs5">
      <label for="tab-five">5.¿Cuál es el plazo y terminación del tratamiento de sus datos?</label>
      <div class="tab-content">
        <p>El plazo durante el cual se conservarán los datos personales perdurará incluso una vez concluida la relación con la FUNDACIÓN, en tanto no sea revocada expresamente. El plazo durante el cual se conservarán los datos personales quedará sujeto al ejercicio del derecho de cancelación.</p>
      </div>
    </div>
    <div class="tab">
      <input id="tab-six" type="checkbox" name="tabs6">
      <label for="tab-six">6.¿Cuáles son sus derechos?</label>
      <div class="tab-content">
        <p>El titular de los datos de carácter personal tendrá el derecho a retirar su consentimiento en cualquier momento, sin que ello afecte a la licitud del tratamiento basado en el consentimiento previo a su retirada. </p>
        <p>Del mismo modo, el interesado tiene el derecho a presentar una reclamación ante la autoridad de control, esto es, la Agencia Española de Protección de Datos a través de su sede electrónica <a href="www.aepd.es" target="_blank">www.aepd.es</a> o en la Calle Jorge Juan nº 6, 28001, Madrid, España.</p>
        <p>De conformidad con la legislación vigente, el titular de los datos puede ejercer su derecho de acceso, rectificación, supresión, limitación de su tratamiento, oposición y portabilidad de sus datos. Para ejercitar estos derechos (adjuntando copia de un documento acreditativo de su identidad), puede dirigirse por correo postal a:
            FUNDACIÓN ANDRÉS MARCIO, calle Núñez de Balboa, Nº 11, 2º C (28001. Madrid).
          </p>
      </div>
    </div>
    <div class="tab">
      <input id="tab-seven" type="checkbox" name="tabs7">
      <label for="tab-seven">7.Fuero</label>
      <div class="tab-content">
        <p>La presente Política de protección de datos y privacidad se encuentra sometida a la legislación española vigente. Para cualquier divergencia derivada de la misma, las partes, con la aceptación de las cláusulas establecidas en la presente Política de protección de datos y  privacidad, se someterán a los Juzgados y Tribunales de Madrid capital.</p>
      </div>
    </div>
</div>
