<div class="remodal" data-remodal-id="taxes">
  <button data-remodal-action="close" class="remodal-close"></button>
	<div>Impuestos</div>
  <div class="table-container">
    <div class="table two-col irpf">
      <div class="title">Personas físicas (IRPF)</div>
      <ul>
        <li><span>Primeros 150€</span><span>75%</span></li>
        <li><span>Resto</span><span>30%</span></li>
        <li><span>Donativos recurrentes</span><span>35%</span></li>
        <li><span>Límite deducción base liquidable</span><span>10%</span></li>
      </ul>
      <p>Si eres persona física en el IRPF, podrás deducirte el 75% por los primeros 150€ y entre el 30-35% por el resto, dependiendo
      de todos tus donativos, en los últimos 3 años, con un límite del 10% de la base liquidable.</p>
    </div>
    <div class="table two-col is">
      <div class="title">Personas jurídicas (IS)</div>
      <ul>
        <li><span>Donaciones en general</span><span>35%</span></li>
        <li><span>Donaciones recurrentes</span><span>40%</span></li>
        <li><span>Límite deducción base liquidable</span><span>10%</span></li>
      </ul>
      <p>Si eres persona jurídica, en el impuesto de sociedades podrás deducirte entre 35-40% de tus cuotas y/o donativos de la
      cuota íntegra, dependiendo de todos tus donativos en los últimos 3 años, con un límite del 10% de la base liquidable</p>
    </div>
  </div>




  <div class="table three-col">
    <div class="title">Ejemplos de donaciones de 10,15 ó 20€ al mes. ¡¡Tú eres nuestra ayuda!!</div>
    <ul>
      <li><span>Donado</span><span>Te desgravas</span><span>Sólo te cuesta</span></li>
      <li><span>120€ al año <br>(10€ al mes)</span><span>90€ al año</span><span>30€ al año</span></li>
      <li><span>180€ al año <br>(15€ al mes)</span><span>121,5€ al año</span><span>58,5€ al año</span></li>
      <li><span>240€ al año <br>(20€ al mes)</span><span>139,5€ al año</span><span>100,5€ al año</span></li>
    </ul>
  </div>

  </div>
</div>
