{% extends 'amarcio/index.html.twig' %}

{% block body %}
  <div class="formularios gracias">
    <p>{{ message }}</p>
  </div>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block javascript %}
	{{ parent() }}
{% endblock %}
